---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 57a7321f0fa85e8b1d97964b8a657efe742d68fc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1570715890'
      Etag:
      - W/"386f9ff67012c276e0109f2e6de71ef2"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"MackHalliday","id":16658577,"node_id":"MDQ6VXNlcjE2NjU4NTc3","avatar_url":"https://avatars2.githubusercontent.com/u/16658577?v=4","gravatar_id":"","url":"https://api.github.com/users/MackHalliday","html_url":"https://github.com/MackHalliday","followers_url":"https://api.github.com/users/MackHalliday/followers","following_url":"https://api.github.com/users/MackHalliday/following{/other_user}","gists_url":"https://api.github.com/users/MackHalliday/gists{/gist_id}","starred_url":"https://api.github.com/users/MackHalliday/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MackHalliday/subscriptions","organizations_url":"https://api.github.com/users/MackHalliday/orgs","repos_url":"https://api.github.com/users/MackHalliday/repos","events_url":"https://api.github.com/users/MackHalliday/events{/privacy}","received_events_url":"https://api.github.com/users/MackHalliday/received_events","type":"User","site_admin":false},{"login":"shaviland","id":29960617,"node_id":"MDQ6VXNlcjI5OTYwNjE3","avatar_url":"https://avatars1.githubusercontent.com/u/29960617?v=4","gravatar_id":"","url":"https://api.github.com/users/shaviland","html_url":"https://github.com/shaviland","followers_url":"https://api.github.com/users/shaviland/followers","following_url":"https://api.github.com/users/shaviland/following{/other_user}","gists_url":"https://api.github.com/users/shaviland/gists{/gist_id}","starred_url":"https://api.github.[...]
